.card {
  display: flex;
  flex-direction: row;
  max-width: 240px;
  margin: 0 ;
  font-size: 10px;
  margin-left: 0;
}

.card {
  display: flex;
  flex-direction: inherit;
  margin-left: 5px;
}

.qrcode-container {
  margin-top: 5px;
  margin-left: 5px;
  flex: 1;
  text-align: left;
  width: 110px;
  height: 110px;
}

.text-container {
  flex: 1;
  text-align: left;
  margin-left: 5px; /* Ajusta o espaçamento entre o QRCode e o texto */
}

.name {
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: auto;
}

.divider {
  border-bottom: 1px solid #ccc;
  margin: 0px 0;
}

@media print {
  body * {
    visibility: hidden;
  }

  #printSection, #printSection * {
    visibility: visible;
  }

  #printSection {
    position: absolute;
    left: 0;
    top:  
 0;
  }
}

.botao {
  display: inline-block;
  padding: 6px 12px;  /* Reduzido de 10px 20px */
  font-size: 10px;  /* Reduzido de 12px */
  font-weight: bold;
  color: #fff;
  background-color: #337ab7;
  border: none;
  border-radius: 6px;  /* Reduzido de 10px */
  cursor: pointer;
  line-height: 1.2;  /* Adicionado para melhor controle da altura */
  margin: 1px 1px 1px 1px;
}

.botao:hover {
  background-color: #23527c;
}

.botao[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}
