section {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
}

h2 {
  text-align: center;
  color: #333;
}

p {
  font-size: 18px;
  margin: 10px 0;
}

button {
  display: inline-block;
  margin: 6px ;
  padding: 10px 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #004494;
}

.cabecalho .logo img {
  max-width: 100%;
}

.logo {
  width: 200px;  /* Largura da div */
  height: 200px; /* Altura da div */
  margin: 0 auto; /* Centraliza a div */
  border-radius: 50%; /* Garante que a div fique redonda */
  overflow: hidden; /* Garante que a imagem não transborde a div */
}

.logo img {
  width: 100%; /* Garante que a imagem se ajuste à largura da div */
  height: 100%; /* Garante que a imagem se ajuste à altura da div */
  object-fit: cover; /* Mantém a proporção da imagem */
  border-radius: 50%; /* Garante que a imagem fique redonda */
  object-position: center top; /* Centraliza a imagem no topo */

}
