section {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
}

h2 {
  text-align: center;
  color: #333;
}

p {
  font-size: 18px;
  margin: 10px 0;
}

button {
  display: inline-block;
  margin: 20px ;
  padding: 10px 20px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #004494;
}

.cabecalho .logo img {
  width: 90%;
  max-width: 350px;
  margin-bottom: 2rem;
}
.logo {
  text-align: center; /* Centraliza o conteúdo dentro da div */
}

.logo img {
  display: block; /* Transforma a imagem em um bloco para melhor controle */
  margin: 0 auto; /* Centraliza a imagem horizontalmente */
  width: 200px; /* Define a largura da imagem */
  height: 150px; /* Define a altura da imagem */
  border-radius: 50%; /* Transforma a imagem em um círculo */
}
