<section class="container criar-crianca ff-inter">
  <header class="header">
    <h2>Cadastro de endereço:</h2>
  </header>

  <div class="cep-input">
    <mat-form-field appearance="outline">
      <mat-label>CEP</mat-label>
      <input matInput type="text" [(ngModel)]="cep" placeholder="Digite o CEP" (input)="onCepInput()">
    </mat-form-field>
  </div>

  <div class="overlay" *ngIf="isLoading">
    <div class="loader">Cadastrando...</div>
  </div>

  <form (ngSubmit)="cadastrar()" #cadastroForm="ngForm">
    <mat-form-field appearance="outline">
      <mat-label>Endereço</mat-label>
      <input matInput type="text" name="logradouro" [(ngModel)]="dadosCep.logradouro" [readonly]="true" required>
    </mat-form-field>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Bairro</mat-label>
        <input matInput type="text" name="bairro" [(ngModel)]="dadosCep.bairro" [readonly]="true" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Número</mat-label>
        <input matInput type="text" name="numero" [(ngModel)]="dadoUsuario.numero" required>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>País</mat-label>
        <input matInput type="text" name="pais" [(ngModel)]="dadosCep.pais" [readonly]="true" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <input matInput type="text" name="estado" [(ngModel)]="dadosCep.estado" [readonly]="true" required>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Cidade</mat-label>
      <input matInput type="text" name="cidade" [(ngModel)]="dadosCep.localidade" [readonly]="true" required>
    </mat-form-field>

    <div class="acoes">
      <button type="button" (click)="cancelar()" class="botao">Cancelar</button>
      <button type="submit" class="botao" [disabled]="!cadastroForm.valid">Cadastrar</button>
    </div>
  </form>
</section>