<section class="container criar-crianca ff-inter">
  <header class="header">
    <h2>Cadastre uma nova criança:</h2>
  </header>

  <!-- Adiciona o evento (ngSubmit) no formulário -->
  <form (ngSubmit)="cadastrar()" #cadastroForm="ngForm">

    <label for="nomeResponsavel">Responsável</label>
    <input
      type="textarea"
      class="input"
      id="idNomeResponsavel"
      name="nomeResponsavel"
      placeholder="Digite o nome do responsável"
      [(ngModel)]="cadastro.nomeResponsavel"
      required
      >

    <label for="crianca">Criança</label>
    <input
      type="text"
      class="input"
      id="nomeCrianca"
      name="nomeCrianca"
      placeholder="Digite o nome da criança"
      [(ngModel)]="cadastro.nomeCrianca"
      required
      >

    <label for="telefoneResponsavel">Telefone responsável</label>
    <input
      type="text"
      class="input"
      id="telefoneResponsavel"
      name="telefoneResponsavel"
      placeholder="Digite o telefone do responsável"
      [(ngModel)]="cadastro.telefoneResponsavel"
      required
      >

    <label for="observacao">Observação</label>
    <input
      type="text"
      class="input"
      id="observacao"
      name="observacao"
      placeholder="Digite uma observação"
      [(ngModel)]="cadastro.observacao"
      >

    <div class="acoes">
      <!-- Transforma o botão de submit -->
      <button type="submit" class="botao" [disabled]="!cadastroForm.valid">Cadastrar</button>
      <button type="button" (click)="cancelar()" class="botao">Cancelar</button>
    </div>

  </form>
</section>
