<section class="container criar-crianca ff-inter">
  <header class="header">
    <h2>Cadastre uma nova criança:</h2>
  </header>

  <!-- Adiciona o evento (ngSubmit) no formulário -->
  <form (ngSubmit)="cadastrar()" #cadastroForm="ngForm">

    <label for="nomeResponsavel">Responsável</label>
    <input
      type="textarea"
      class="input"
      id="idNomeResponsavel"
      name="nomeResponsavel"
      placeholder="Digite o nome completo do responsável"
      [(ngModel)]="cadastro.nomeResponsavel"
      required
      >

    <label for="crianca">Nome</label>
    <input
      type="text"
      class="input"
      id="nomeCrianca"
      name="nomeCrianca"
      placeholder="Digite o primeiro nome da criança"
      [(ngModel)]="cadastro.nomeCrianca"
      required
      >
      <label for="sobreNomecrianca">Sobrenome</label>
      <input
        type="text"
        class="input"
        id="sobrNomeCrianca"
        name="sobrNomeCrianca"
        placeholder="Digite o sobrenome da crianca"
        [(ngModel)]="cadastro.sobreNome"
        required
        >

    <label for="telefoneResponsavel">Telefone responsável</label>
    <input
      type="text"
      class="input"
      id="telefoneResponsavel"
      name="telefoneResponsavel"
      placeholder="Digite o telefone do responsável"
      [(ngModel)]="cadastro.telefoneResponsavel"
      required
      >

      <label for="nascimento">Data nascimento</label>
      <input
        type="date"
        class="input"
        id="nascimento"
        name="nascimento"
        placeholder="digite a data de nascimento dd/mm/aaaa"
        [(ngModel)]="cadastro.dataNascimento"
        required
        >
    <label for="observacao">Possui restrição alimentar?</label>
    <input
      type="text"
      class="input"
      id="observacao"
      name="observacao"
      placeholder="Qual a restrição?"
      [(ngModel)]="cadastro.observacao"
      >
      <div>
        <label for="sexo-select">Escolha o sexo:</label>
        <select id="sexo-select" name="sexo" [(ngModel)]="cadastro.sexo"> <!-- Adicione o atributo name -->
          <option value="masculino">Masculino</option>
          <option value="feminino">Feminino</option>
        </select>
      </div>
      <div>
        <label for="tipo-select">Membro ou visitante?</label>
        <select id="tipo-select" name="tipo" [(ngModel)]="cadastro.tipo"> <!-- Adicione o atributo name -->
          <option value="Visitante">Visitante</option>
          <option value="Membro">Membro</option>
        </select>
      </div>
    <div class="acoes">
      <!-- Transforma o botão de submit -->
      <button type="button" (click)="cancelar()" class="botao">Cancelar</button>
      <button type="submit" class="botao" [disabled]="!cadastroForm.valid">Cadastrar</button>
    </div>

  </form>
</section>
