/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #337ab7;
  background-color: #f9f9f9;
}

.container.criar-crianca {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header Styles */

.header {
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.header h2 {
  margin: 0;
  font-weight: bold;
  color: #337ab7;
}

/* Form Styles */

form {
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.input:focus {
  border-color: #337ab7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Actions Styles */

.acoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.botao {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #337ab7;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.botao:hover {
  background-color: #23527c;
}

.botao[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Responsive Styles */

@media (max-width: 400px) {
  .container.criar-crianca {
    margin: 20px auto;
    padding: 10px;
  }

  .header {
    padding: 5px;
  }

  label {
    font-size: 14px;

  }

  .input {
    font-size: 14px;
  }

  .acoes {
    flex-wrap: wrap;
  }

  .botao {
    font-size: 12px;
  }
}

div {
  margin-bottom: 16px;
}

label {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  color: #333; /* Cor do texto */
}

select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  color: #333;
}

select:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

.custom-file-upload {
  margin-bottom: 15px;
}

.custom-file-upload input[type="file"] {
  display: none;
}

.custom-file-upload button {
  background-color:#337ab7;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.custom-file-upload button:hover {
  background-color:rgba(102, 175, 233, 0.6);
}

.custom-file-upload span {
  margin-left: 5px;
}
