<h1 mat-dialog-title>Adicionar reunião</h1>
<div mat-dialog-content>
  <div class="modal-input">
    <label>Data da reunião</label>
    <input type="date" [(ngModel)]="data.reuniao.data" />
  </div>
  <div class="modal-input">
    <label>Assunto</label>
    <input type="text" [(ngModel)]="data.reuniao.assunto" />
  </div>
  <div class="modal-input">
    <label>Total de pessoas: </label>
    <span>{{ totalPessoas }}</span>
  </div>
  <div class="modal-presenca">
    <div class="modal-participantes">
      <h2>Lista de presença</h2>
      <div *ngFor="let participante of data.participantes">
        <label>
          <input type="checkbox" [(ngModel)]="participante.presente" />
          {{ participante.nome }}
        </label>
      </div>
    </div>
    <div class="modal-visitantes">
      <h2>Visitantes ({{ data.visitantes.length }})</h2>
      <button mat-raised-button color="primary" (click)="adicionarVisitante()">
        + Adicionar visitante
      </button>
      <div *ngFor="let visitante of data.visitantes">
        <div class="modal-visitante">
          <input type="text" [(ngModel)]="visitante.nome" placeholder="Nome do visitante" />
          <button mat-icon-button color="warn" (click)="removerVisitante(visitante)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="modal-visitantes">
      <h2>Crianças ({{ data.criancas.length }})</h2>
      <button mat-raised-button color="primary" (click)="adicionarCrianca()">
        + Adicionar Criança
      </button>
      <div *ngFor="let crianca of data.criancas">
        <div class="modal-visitante">
          <input type="text" [(ngModel)]="crianca.nome" placeholder="Nome da criança" />
          <button mat-icon-button color="warn" (click)="removerCrianca(crianca)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-anotacoes">
    <label>Relate algo que acha necessário para supervisão?</label>
    <textarea [(ngModel)]="data.reuniao.relato_supervisao"></textarea>
  </div>
  <div class="modal-anotacoes">
    <label>E você lider, como você está? relate se precisa de ajuda se quiser dar alguma sugestão ou reclamação?</label>
    <textarea [(ngModel)]="data.reuniao.observacao"></textarea>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data.reuniao" cdkFocusInitial (click)="salvarReuniao()">Salvar</button>
</div>