<mat-icon class="chevron_left" (click)="voltar()">chevron_left</mat-icon>
<div class="p-4" class='container'>
  <mat-accordion class="mb-6">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Adicionar funções do voluntário
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="funcao">
        <label for="funcao">Ministerio</label>
        <select id="ministerio-select" name="ministerio" [(ngModel)]="ministerrioSelecionado">
          <option *ngFor="let ministerio of ministerios" [value]="ministerio.nome">{{ ministerio.nome }}</option>d
        </select>
        <label for="funcao">Nome da função</label>
        <input type="text" class="input" id="nomeFuncao" name="nomeFuncao" placeholder="digite o nome da função"
          [(ngModel)]="funcao.name" required>

        <label for="funcao">Descrição da função</label>
        <input type="text" class="input" id="descricaoFuncao" name="descricaoeFuncao"
          placeholder="digite a descrição da função" [(ngModel)]="funcao.descricao" required>
      </div>


      <button mat-stroked-button color="primary" class="w-full mt-4" (click)="addFuncao()">
        <mat-icon>add</mat-icon>
        Adicionar função
      </button>
    </mat-expansion-panel>
  </mat-accordion>

  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="ministerio">
        <th mat-header-cell *matHeaderCellDef> Ministério </th>
        <td mat-cell *matCellDef="let element">{{ element.ministerio }}</td>
      </ng-container>
      <ng-container matColumnDef="funcao">
        <th mat-header-cell *matHeaderCellDef> Função </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
  </div>
</div>
