.modal-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espaçamento entre os elementos */
}

.modal-body p {
  margin: 0;
}

.modal-body button {
  margin-top: 10px;
}
