<section class="container">
  <input type="text" [(ngModel)]="termoBusca" placeholder="Pesquisar criança" (keyup.enter)="filtrarCriancas()">
  <button (click)="filtrarCriancas()">Buscar</button>
  <app-modal-detalhe-crianca *ngIf="mostrarModal" [crianca]="criancaEncontrada" (fecharModal)="mostrarModal = false"></app-modal-detalhe-crianca>
  <!-- Cabeçalho para as colunas -->
  <div class="cadastro-header">
    <div>Criança</div>
    <div>Responsável</div>
    <div>Telefone</div>
  </div>

  <!-- Lista de cadastros -->
  <div *ngIf="listaCrianca.length > 0; else noCadastros">
    <ul class="cadastros-list">
      <li *ngFor="let cadastro of listaCrianca" class="cadastro-item">
        <a [routerLink]="['/detalhe-crianca', cadastro.id]">{{ cadastro.nomeCrianca }}</a>
        <p>{{ cadastro.nomeResponsavel }}</p>
        <p>{{ cadastro.telefoneResponsavel }}</p>
      </li>
    </ul>
  </div>

  <!-- Exibe essa mensagem se não houver cadastros -->
  <ng-template #noCadastros>
    <p>Não há crianças cadastradas no momento.</p>
  </ng-template>
  <button routerLink="/cadastro" class="botao">Adicionar criança</button>
</section>
