/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 14;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header Styles */

.cadastro-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
  list-style: none;
  /* Novo estilo para telas menores */
  @media (max-width: 400px) { /* Ajuste a largura conforme necessário */
    flex-direction: column;
  }
}
.cadastro-header div {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

/* List Styles */

.cadastros-list {
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}

.cadastro-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cadastro-item a {
  text-decoration: none;
  color: #337ab7;
}

.cadastro-item a:hover {
  color: #23527c;
}

.cadastro-item p {
  margin: 0;
}

/* Button Styles */

.botao {
  display: inline-block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #337ab7;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.botao:hover {
  background-color: #23527c;
}

/* Responsive Styles */

@media (max-width: 600px) {
  .container {
    margin: 20px auto;
    padding: 10px;
  }

  .cadastro-header {
    flex-wrap: nowrap;
  }

  .cadastro-header div {
    flex-basis: 100%;
    text-align: left;
  }

  .cadastro-item {
    flex-wrap: nowrap;
  }

  .cadastro-item a {
    width: 100%;
  }

  .botao {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .container {
    margin: 10px auto;
    padding: 5px;
  }

  .cadastro-header div {
    flex-basis: calc(100% / 4); /* Divide o espaço igualmente entre os elementos */
    text-align: center;
    flex-wrap: nowrap;
  }

  .cadastro-item p {
    font-size: 12px;
  }

  .botao {
    font-size: 12px;
  }
}
