<body class="corpo">

  <div class="container">
    <div class="heading">Login</div>
    <form  action="" class="form">
      <input  [(ngModel)]="usuario.email" id="usuario" required="" class="input" type="email" name="email" id="email" placeholder="E-mail">
      <input  [(ngModel)]="usuario.senha" required="" class="input" type="password" name="password" id="password" placeholder="Password">
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <span class="forgot-password"><a href="#">Esqueceu sua senha ?</a></span>
      <input  (click)="fazerLogin()"  class="login-button" type="submit" value="Logar">

    </form>
    <div>
      <p class="signin"><a [routerLink]="['/criar-conta']">cadastre-se</a> </p>
      </div>
    </div>
  </body>
